.container {
    max-width: 120rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    border-radius: 10px;

    @media only screen and (max-width: $bp-largest) {
        margin: 0;
        max-width: 100%;
        border-radius: 0;
    }
}

.content-area {
    display: flex;

    // @media only screen and (min-width: $bp-largest) {
    //     height: 100%;
    // }

    // @media only screen and (max-width: $bp-large) {
    //     height: 100vh;
    // }

    @media only screen and (max-width: $bp-large) {
        flex-direction: column;
        height: 100vh;
    }


}

.sidebar {
    background-color: var(--color-grey-dark-1);

    flex: 0 0 18%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
    @media only screen and (max-width: $bp-largest) {
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    @media only screen and (max-width: $bp-large) {
        min-height: 25rem;
    }
}

.page {
    // color: rgb(119, 69, 246); 247, 244, 255 212, 206, 255
    background-image: linear-gradient(
        to right, rgba(247, 244, 255, 0.9), 
                         rgba(229, 226, 252, 0.9)),
                            url(../img/background.png);
    background-size: cover;
    min-height: 65rem;

    clip-path: polygon(0 15% , 100% 0, 100% 85%, 0 100%);

    border-top-right-radius: 10px;

    flex: 1;
    justify-content: center;
    flex-direction: column;

    @media only screen and (max-width: $bp-largest) {
        background-size: contain;
    }

    @media only screen and (max-width: $bp-large) {
        clip-path: none;
        width: 100%;
    }

    @media only screen and (max-width: $bp-sm-medium) {
        min-height: fit-content;
        width: 100%;
        align-self: center;
    }
}

.footer {
    width: 100%;
    min-height: 10rem;
    background-color: var(--color-grey-dark-1);

    display: flex;
    flex-direction: column;
    justify-content: space-around;

    @media only screen and (min-width: $bp-large) {
        display: none;
    }

    &__legal {
        font-size: 1.2rem;
        color: var(--color-grey-dark-4);
        text-align: center;
        padding: 2.5rem;
    }

}